<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U&P Movie Reviews</title>
    <link rel='stylesheet' href ='/Content/app.css' />
    <link rel="stylesheet" href = "/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
<<<<<<< HEAD
  <img src="/Assets/images/UandP.jpg" height="50px" width="50px">
=======
>>>>>>> origin/main
  <a class="navbar-brand" href="#">UandP Movie Reviews</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">


      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>

       <li class="nav-item active">
        <a class="nav-link" href="/add">Add Review </a>
      </li>

     <li class="nav-item active">
        <a class="nav-link" href="/login">Login</a>
      </li>

       <li class="nav-item active">
        <a class="nav-link" href="/register">Register</a>
      </li>

  </div>

</nav>







     <!--Header with logo and title-->

    <main>
        <%- body %> <!-- This is where page content will be injected -->
    </main>
    
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class=" navbar-text">© copyright 2024 made by Umaid Mohammed and Patrick Grayhurst.</h6>
</nav>

<script src = "/scripts/app.js"></script>
<script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
<script src = "/jquery/dist/jquery.min.js"></script>
</body>
</html>