/* Custom CSS goes here */
/* custom css goes here */
body {
    background: linear-gradient(to bottom, gray, black);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
<<<<<<< HEAD
}
label {
    display: block;
    margin-top: 1em;
}
.checks label {
    margin-top: 0;
}
label:first-of-type{
    margin-top: 0;
}
=======
}
>>>>>>> origin/main
